*{
    box-sizing: border-box;
    padding:0;
    margin:0;
    text-decoration:none ;
}
.par{
    height:100vh;
    background:linear-gradient(to right,rgba(0, 0, 0, 0.678),rgba(255, 255, 0, 0.774)),url("../mi.jpg") no-repeat left;
    display:flex;
    justify-content: center;
    align-items: center;

}
.par #bc{
    position: absolute;
    translate: -70%;

}
.m{
    position:absolute;
    background-color:white;
    height:80%;
    width: 60%;
    border-radius: 20px;
    display:flex;
    justify-content: center;
    align-items: center;
}
img{
    position: absolute;
    height:100%;
    translate:-78%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
h4{
    font-family:"Perpetua Titling MT";
    position:absolute;
    font-size: xx-large;
    font-weight: 100;
    letter-spacing: 7px;
    top:7%;
    left:55%;
}
.for p{
    position: relative;
    bottom: 40px;
    font-family:sans-serif;
    letter-spacing: 2px;
    font-size: x-large;
    font-weight: 70;
    

}

#bt{
    color:rgb(255, 217, 0);
}

.m .for{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:33%;
    height: 100%;
    position:absolute;
    translate:50% -45%;
    top:45%;

}
#b2{
    position:absolute;
    bottom: 0%;
    width:64.2%;
    border-bottom-right-radius: 20px;
    height:50px;
    left:35.8%;
    border:none;
    border-top: solid;
    border-width: 1px;
    font-size: large;
    cursor: pointer;
}
.for a{
    border-radius: 5x;
    width: 180px;
}
#b2:hover{
    background-color:rgb(255, 217, 0);
}
#b1{
    width: 100%;
    height:40px;
    background-color: black;
    color:white;
    border:none;
    border-radius: 5px;
    cursor: pointer;
}
form hr {
    margin-bottom:5px;   
}
form input{
    width:65%;
    font-family:  Times;
    font-size: larger;
    font-weight: 10;
    padding-left: 5px;
    border:none;
    outline: none;
}
#fgp{
    color:black;
    text-decoration: none;
    font-size: small;
    translate:  0% -50%;
}
