*{
    box-sizing: border-box;
    padding:0;
    margin:0;
    font-family:cursive;
    font-style: italic;
}
body{
    background-color:rgb(247, 182, 62);
}
.a{
    background:linear-gradient(rgba(92, 89, 89, 0.664),rgba(54, 52, 52, 0.445)) ,url(Upstreet/cv.jpg);
    position:absolute;
    height:80vh;
    width:80%;
    top:50%;
    left:50%;
    translate: -50% -50%;
    border-radius: 30px;


    
}
.all{
    background-color:white;
    height: 100%;
    width:50%;
    position:absolute;
    left:45%;
    
}
.head{
    position:relative;
    left:50px;
    top:20px;
}
.head h4{
    font-size: xx-large;
}
.head p{
    position: relative;
    top:-20px;
    font-size:small;
}
form{
    position: relative;
    top:45px;
    left:50px;
    
}
hr{
    color:black;
    width:90%;
}
.xt input{
    width: 75%;
    padding-left: 15px;
    background: transparent;
    outline:none;
    border:none;
    padding:10px;
    font-size: larger;
    
}
.radio input{
    accent-color:black;
}
.radio input,label{
    padding-left: 10px;
}
.submit input{
    position: relative;
    left:60%;
    bottom: 65px;
    border-radius: 30px;
    border:none;
    cursor:pointer;
    background-color: rgba(255, 166, 0, 0.678);
    padding:10px;
    width:70px;
}
.submit input:hover{
    background-color: orange;
}
.dob input{
    border:none;
    outline: none;

    
}



